.matchInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

body {
    height: 100vh;
    margin: 0;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(30px);
}

h1 {
    color: white;
    font-size: 3.5rem;
    text-align: center;
    width: 80vw;
}

h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

#timer {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    color: white;
    margin-right: 15px;
}

#quitMatchButton {
    svg {
        height: 25px;
        width: 25px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 4.5vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 400px;
    max-height: min(400px, 30vh);
    img {
        object-fit: contain;
        max-height: min(400px, 30vh);
    }
}

.img-card {
    border-bottom: solid 1px white;
    object-fit: cover;
    width: clamp(100px, 400px, 400px);
    max-height: min(400px, 30vh);
    opacity: 75%;
}
#espacioExtra {
    height: 50px;
    width: 4.5vw;
}

.loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    z-index: 10;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
    z-index: -999;
}

.matchInteraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.finishButton {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    border: solid 1px cyan;
    border-radius: 0.75em;
    background: transparent;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid cyan;
    background: transparent;
    color: white;
    font-size: 1rem;
    border-radius: 0.75em;
    padding: 0.75em 1.5em;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    transform: translateY(-0.33em);
}

button:active .button_top {
    transform: translateY(0);
}

/*Esta clase es para cuando el boton sea clickeado y ya no se pueda usar de nuevo*/
.finishButtonClicked {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    border: solid 1px white;
    border-radius: 0.75em;
    background: cyan;
}

.button_top_clicked {
    display: block;
    box-sizing: border-box;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 0.75em;
    padding: 0.75em 1.5em;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.playerInput {
    width: 90%;
    max-height: 20%;
    min-height: 10%;
    border: 2px solid cyan;
    padding: 10px;
    font-size: 3em;
    overflow: hidden;
    resize: none;
    white-space: pre-wrap;
    text-wrap: balance;
    margin-top: 60px;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(100px);
    color: white;
}

.results {
    width: 100%;
    max-height: 60%;
}

.resultsImages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.playerInput:focus {
    outline: none;
}

.imageSelect {
    border: cyan 5px solid;
}

#selectButton {
    margin-top: 20px;
}

.loaderMatchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    h1 {
        width: auto;
    }
}

.pyramid-loader {
    position: relative;
    width: 300px;
    height: 300px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotateY(360deg);
    }
}

.pyramid-loader .wrapper .side {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .shadow {
    width: 60px;
    height: 60px;
    background: #8b5ad5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
}

.loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 400px;
    height: 400px;
}

.blobs {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 70px;
    transform-style: preserve-3d;
}

.blobs .blob-center {
    transform-style: preserve-3d;
    position: absolute;
    background: cyan;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform-origin: left top;
    transform: scale(0.9) translate(-50%, -50%);
    animation: blob-grow_2 linear 3.4s infinite;
    border-radius: 50%;
    box-shadow: 0 -10px 40px -5px #1d1d1d;
}

.blob {
    position: absolute;
    background: cyan;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: blobs_2 ease-out 3.4s infinite;
    transform: scale(0.9) translate(-50%, -50%);
    transform-origin: center top;
    opacity: 0;
}

#loader2 .blob-center {
    background: fuchsia;
}

#loader2 .blob {
    background: fuchsia;
}

.blob:nth-child(1) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.blob:nth-child(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.blob:nth-child(3) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.blob:nth-child(4) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.blob:nth-child(5) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes blobs_2 {
    0% {
        opacity: 0;
        transform: scale(0) translate(calc(-330px - 50%), -50%);
    }

    1% {
        opacity: 1;
    }

    35%,
    65% {
        opacity: 1;
        transform: scale(0.9) translate(-50%, -50%);
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(0) translate(calc(330px - 50%), -50%);
    }
}

@keyframes blob-grow_2 {
    0%,
    39% {
        transform: scale(0) translate(-50%, -50%);
    }

    40%,
    42% {
        transform: scale(1, 0.9) translate(-50%, -50%);
    }

    43%,
    44% {
        transform: scale(1.2, 1.1) translate(-50%, -50%);
    }

    45%,
    46% {
        transform: scale(1.3, 1.2) translate(-50%, -50%);
    }

    47%,
    48% {
        transform: scale(1.4, 1.3) translate(-50%, -50%);
    }

    52% {
        transform: scale(1.5, 1.4) translate(-50%, -50%);
    }

    54% {
        transform: scale(1.7, 1.6) translate(-50%, -50%);
    }

    58% {
        transform: scale(1.8, 1.7) translate(-50%, -50%);
    }

    68%,
    70% {
        transform: scale(1.7, 1.5) translate(-50%, -50%);
    }

    78% {
        transform: scale(1.6, 1.4) translate(-50%, -50%);
    }

    80%,
    81% {
        transform: scale(1.5, 1.4) translate(-50%, -50%);
    }

    82%,
    83% {
        transform: scale(1.4, 1.3) translate(-50%, -50%);
    }

    84%,
    85% {
        transform: scale(1.3, 1.2) translate(-50%, -50%);
    }

    86%,
    87% {
        transform: scale(1.2, 1.1) translate(-50%, -50%);
    }

    90%,
    91% {
        transform: scale(1, 0.9) translate(-50%, -50%);
    }

    92%,
    100% {
        transform: scale(0) translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    body {
        background-repeat: repeat;
        height: auto;
        width: auto;
    }
    #game-container {
        display: block;
    }
    #topic {
        font-size: 1.5rem;
    }
    #timer {
        font-size: 1.5rem;
    }
    #quitMatchButton {
        height: 25px;
    }
    .player-two-container-section {
        width: 100%;
    }
    .player-one-container-section {
        width: 100%;
        border-right: 0px;
    }
    .player-screen {
        min-height: 200px;
        height: auto;
    }
    h2 {
        padding: 0;
    }
    .image-container {
        width: 100px;
    }
}

@media (max-width: 500px) {
    body {
        background-repeat: repeat;
        height: auto;
    }
    #game-container {
        display: block;
    }
    #topic {
        font-size: 1.5rem;
    }
    #timer {
        font-size: 1.5rem;
    }
    #quitMatchButton {
        height: 25px;
    }
    .player-two-container-section {
        width: 100%;
    }
    .player-one-container-section {
        width: 100%;
    }
    .player-screen {
        min-height: 200px;
        height: auto;
        width: 80%;
    }
    .results {
        width: auto;
        max-height: auto;
    }
    .img-card-spectator {
        max-height: 100px;
    }
}
#game-container-final {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89.5%;
}
