<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prompts Battle</title>
    <link rel="stylesheet" href="../css/match.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="../js/match.js"></script>
  </head>
  <body id="view">
    <div class="loaderMatchDiv">
      <h1>Esperando que un administrador inicie la partida</h1>
      <div class="pyramid-loader">
        <div class="wrapper">
          <span class="side side1"></span>
          <span class="side side2"></span>
          <span class="side side3"></span>
          <span class="side side4"></span>
          <span class="shadow"></span>
        </div>
      </div>
    </div>
  </body>
</html>