<section class="matchInfo">
  <div id="espacioExtra"></div>
  <h1 id="topic" class="topic">Tema</h1>
  <div id="timer">00:00</div>
</section>
<section id="sectionOne" class="matchInteraction">
  <textarea
    name="playerInput"
    class="playerInput"
    placeholder="*Ingrese su prompt*"
  ></textarea>
  <button id="finishButton" onclick="getAPIPictures()" class="finishButton">
    <span class="button_top">Generar Imágenes </span>
  </button>
  <div class="results">
    <h2>Resultados</h2>
    <div class="resultsImages">
      <div class="image-container">
        <div class="loaderContainer">
          <div id="loader1" class="blobs hidden">
            <div class="blob-center"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="goo">
                <feGaussianBlur
                  in="SourceGraphic"
                  stdDeviation="10"
                  result="blur"
                ></feGaussianBlur>
                <feColorMatrix
                  in="blur"
                  mode="matrix"
                  values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                  result="goo"
                ></feColorMatrix>
                <feBlend in="SourceGraphic" in2="goo"></feBlend>
              </filter>
            </defs>
          </svg>
        </div>
      </div>
      <img
          id="APIImg1"
          class="img-card"
          src="../images/incognita.png"
          alt="imagen1"
        />
      <div class="image-container">
        <div class="loaderContainer">
          <div id="loader2" class="blobs hidden">
            <div class="blob-center"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="goo">
                <feGaussianBlur
                  in="SourceGraphic"
                  stdDeviation="10"
                  result="blur"
                ></feGaussianBlur>
                <feColorMatrix
                  in="blur"
                  mode="matrix"
                  values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                  result="goo"
                ></feColorMatrix>
                <feBlend in="SourceGraphic" in2="goo"></feBlend>
              </filter>
            </defs>
          </svg>
        </div>
      </div>
      <img
          id="APIImg2"
          class="img-card"
          src="../images/incognita.png"
          alt="imagen2"
        />
      <div class="image-container">
        <div class="loaderContainer">
          <div id="loader3" class="blobs hidden">
            <div class="blob-center"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="goo">
                <feGaussianBlur
                  in="SourceGraphic"
                  stdDeviation="10"
                  result="blur"
                ></feGaussianBlur>
                <feColorMatrix
                  in="blur"
                  mode="matrix"
                  values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                  result="goo"
                ></feColorMatrix>
                <feBlend in="SourceGraphic" in2="goo"></feBlend>
              </filter>
            </defs>
          </svg>
        </div>
        <img
          id="APIImg3"
          class="img-card"
          src="../images/incognita.png"
          alt="imagen3"
        />
      </div>
    </div>
  </div>
  <div>
    <button id="selectButton" onclick="finalizar()" class="finishButton">
      <span class="button_top">Seleccionar Imágen </span>
    </button>
  </div>
</section>
