<header class="header">
  <a href="/" class="logo">Home</a>

  <nav class="navbar">
    <div id="welcome"></div>
    <div style="display: none;">
      <a href="#">Crear Partida</a>
      <a href="#">Crear tema</a>
      <a href="#">Salir</a>
    </div>
  </nav>
</header>
<script>
  const menuIcon = document.querySelector("#menu-icon");
  const navbar = document.querySelector(".navbar");
  const navbg = document.querySelector(".nav-bg");

  menuIcon.addEventListener("click", () => {
    menuIcon.classList.toggle("bx-x");
    navbar.classList.toggle("active");
    navbg.classList.toggle("active");
  });
</script>
