<section class="matchInfo">
    <button id="quitMatchButton">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-left"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
            />
        </svg>
    </button>
    <h1 id="topic" class="topic">Osos polares</h1>
    <div id="timer">00:00</div>
</section>

<section id="game-container">
    <div id='playerOneContainer' class="player-one-container-section">
        <h2 id="playerOne">Jugador 1</h2>
        <div id="player-one-screen" class="player-screen">
            
        </div>
        <div id="player-one-images" class="results">
            <h2>Resultados</h2>
            <div class="resultsImages">
                <img
                    id="player-one-image-one"
                    class="img-card-spectator"
                    src="../images/incognita.png"
                    alt="player-one-image-one"
                />
                <img
                    id="player-one-image-two"
                    class="img-card-spectator"
                    src="../images/incognita.png"
                    alt="player-one-image-two"
                />
                <img
                    id="player-one-image-three"
                    class="img-card-spectator"
                    src="../images/incognita.png"
                    alt="player-one-image-three"
                />
            </div>
        </div>
        <div class="voteSection">
            <div id="voteResults1">%0 (0 votos)</div>
            <div id="divVoteButton1"></div>
        </div>
    </div>
    <div id='playerTwoContainer' class="player-two-container-section">
        <h2 id="playerTwo">Jugador 2</h2>
        <div id="player-two-screen" class="player-screen secondScreen">
        </div>
        <div id="player-two-images" class="results">
            <h2>Resultados</h2>
            <div class="resultsImages">
                <img
                    id="player-two-image-one"
                    class="img-card-spectator"
                    src="../images/incognita.png"
                    alt="player-two-image-one"
                />
                <img
                    id="player-two-image-two"
                    class="img-card-spectator"
                    src="../images/incognita.png"
                    alt="player-two-image-two"
                />
                <img
                    id="player-two-image-three"
                    class="img-card-spectator"
                    src="../images/incognita.png"
                    alt="player-two-image-three"
                />
            </div>
        </div>
        <div class="voteSection">
            <div id="voteResults2">%0 (0 votos)</div>
            <div id="divVoteButton2"></div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="../css/spectate.css" />
<script type="module" src="../js/match.js"></script>